
<section style="margin-top: 34px;">
    <div></div>
    <div>
        <div class="container">
            <h1 style="font-size: 29px;text-align: center;font-family: 'Poppins';font-weight: bold;margin-bottom: 33px;margin-right: -3px;color: var(--bs-emphasis-color);">Analytics Overview</h1>
            <div class="row justify-content-center" style="margin-bottom: 10px;">
                <div class="col-md-4 col-xxl-1" style="height: 31px;margin-top: 3px;margin-right: -10px;width: 42.656px;">
                    <div style="margin: auto;min-width: auto;width: 30px;"><a href="#"><i class="fa fa-filter" style="font-size: 25px;min-width: auto;margin: auto;"></i></a></div>
                </div>
                <div class="col-9 col-sm-6 col-md-4 col-xl-3 col-xxl-2" style="padding-right: 1px;width: 221.5px;">
                    <div style="min-width: auto;width: 192.5px;"><input class="shadow-sm form-control-sm" type="search" name="search customeer" placeholder="Filter Analytics" autofocus style="border-width: 0px;border-radius: 14px;padding-left: 18px;min-width: auto;width: 201.5px;font-family: 'Poppins';" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="myChart" width="960" height="200"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                      datasets: [{
                      label: '# of Votes',
                      data: [12, 19, 3, 5, 2, 12],
                      fill:false,
                      borderColor:"#308af3",
                      pointBackgroundColor: "#308af3",
                      pointBorderWidth: 2,
                      pointHoverBackgroundColor: "#fff",
                      pointHoverBorderWidth: 2,
                      lineTension:0.05
                      }, {
                      label: '# of Votes',
                      data: [19, 12, 6, 15, 7, 9],
                      fill:false,
                      borderColor:"#48ba16",
                      pointBackgroundColor: "#48ba16",
                      pointBorderWidth: 2,
                      pointHoverBackgroundColor: "#fff",
                      pointHoverBorderWidth: 2,
                      lineTension:0.05
                      }]
                    },
                    options: {
                      legend: { display: false },
                      scales: {
                      xAxes: [{
                        gridLines: { display:false },
                      }],
                      yAxes: [{
                        gridLines: {
                        color: "rgba(0, 0, 0, .05)",
                        }
                      }]
                      },
                    }
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>