@import "bootstrap/";
@import "bootstrap/dh-navbar-inverse.css";
@import "bootstrap/Fixed-navbar-starting-with-transparency-colors.css";
@import "bootstrap/Fixed-navbar-starting-with-transparency-styles.css";
@import "bootstrap/Latest-Events.css";
@import "bootstrap/Login-Form-Basic-icons.css";
@import "bootstrap/Ludens-Users---3-Profile.css";
@import "bootstrap/Multi-step-form.css";
@import "bootstrap/Profile-Edit-Form-styles.css";
@import "bootstrap/Profile-Edit-Form.css";
@import "bootstrap/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter";
@import "bootstrap/Table-With-Search-search-table.css";
@import "bootstrap/Table-With-Search.css";


@import "font-awesome";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alert.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.flash-message {
  position: fixed;
  top: 77px; /* Adjust this value based on the navbar height */
  right: 10px;
  z-index: 1050;
  width: auto; /* Adjust the width as needed */
  max-width: 300px; /* Optional: Limit the maximum width */
}

