<nav class="navbar navbar-expand-sm sticky-top shadow-sm navigation-clean navbar-inverse navbar-fixed-top navbar-light" style="background: var(--bs-secondary-bg); height: 77px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
            <div class="col col-lg-7 text-center text-lg-start">
                <h1 class="text-nowrap mb-0" style="font-family: Satisfy, serif; font-size: 30px;">Wash-Up!</h1>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--bs-navbar-brand-hover-color); background: var(--bs-secondary-bg);">
            <ul class="navbar-nav ms-auto" style="margin-top: 0px; background: var(--bs-secondary-bg);">
                <li class="nav-item d-flex justify-content-center" style="font-family: 'Poppins'; background: var(--bs-secondary-bg);">
                    <%= link_to "Dashboard", root_path, class:"nav-link text-decoration-none" %>
                </li>
                <li class="nav-item" style="font-family: 'Poppins'; background: var(--bs-secondary-bg);">
                    <% if user_signed_in? %>
                        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
                    <% else %>
                        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End: dh-navbar-inverse -->
